<%- partial('common/header') %>
  <div class="content">
    <h3 class="strong">将于5月4日在钱潮路天元大厦举行</h3>
    <div>* 输入「<span class="strong">新郎</span>」和「<span class="strong">新娘</span>」分别查看新人介绍，输入「<span class="strong">婚纱照</span>」看新人的结婚照；</div>
    <div>* 查询酒店详细地址和驾车路线请输入「<span class="strong">酒店</span>」；</div>
    <div>* 查询座位以及同桌朋友，请输入「<span class="strong">@自己的名字</span>」，例如「<span class="strong">@张三</span>」；</div>
    <div>* 了解新郎新娘的八卦请输入「<span class="strong">八卦</span>」；</div>
    <h5>祝新人百年好合！使用遇到问题请向新郎投诉。</h5>
  </div>
<%- partial('common/footer') %>