<%- partial('common/header') %>
  <div class="content">
    <h3 class="strong">新人婚纱照大！放！送！</h3>
    <div><img src="/assets/img/wedding/1.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>瞧瞧，真是郎才女貌啊！</div>
    <div><img src="/assets/img/wedding/2.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>新郎帅气！！</div>
    <div><img src="/assets/img/wedding/3.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>新娘漂亮啊！！！</div>
    <div><img src="/assets/img/wedding/4.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/5.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>亲下去啊！！！</div>
    <div><img src="/assets/img/wedding/6.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/7.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>啊哈哈哈，好像保镖啊！</div>
    <div><img src="/assets/img/wedding/8.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>很得意的样子！</div>
    <div><img src="/assets/img/wedding/9.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/10.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>

    <div><img src="/assets/img/wedding/11.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>顿时年轻十岁啊！</div>
    <div><img src="/assets/img/wedding/12.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div>上海滩啊！</div>
    <div><img src="/assets/img/wedding/13.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/14.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/15.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <div><img src="/assets/img/wedding/16.jpg?v=<%- locals.version %>" alt="婚纱照" /></div>
    <h5>祝两位新人百年好合！</h5>
  </div>
<%- partial('common/footer') %>